$primary: #276cd4;

html {
  font-family: sans-serif;
  color: #333;

  height: 100%;
  body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    header {
      background-color: $primary;
      height: 70px;
      font-size: 36px;
      line-height: 70px;
      color: white;
      padding: 0 20px;
    }
    main {
      display: flex;
      flex-direction: row;
      overflow: hidden;
      position: relative;
      height: calc(100vh - 70px);
      .contact-information {
        overflow-y: scroll;
        flex: 2;
        background-color: #eee;
        padding: 20px;
        @media screen and (max-width: 991px) {
          transition: all 0.5s;
          position: absolute;
          left: 100%;
          top: 0;
          right: 0;
          height: 100%;
          &.open {
            transition: all 0.5s;
            left: 0;
            z-index: 20;
          }
        }
        .btn {
          border: 1px solid $primary;
          border-radius: 4px;
          font-size: 16px;
          color: $primary;
          background-color: transparent;
          &:hover {
            background-color: $primary;
            color: #fff;
            cursor: pointer;
          }
        }
        .add-email,
        .add-number {
          margin: 15px 0;
        }

        .bottom-buttons {
          margin: 32px auto;
          max-width: 500px;
          display: flex;
          justify-content: space-between;
          .btn {
            flex: 1;
            font-size: 18px;
            margin-bottom: 0;
            max-width: 40%;
          }
        }
        input {
          width: 70%;
          font-size: 24px;
          padding: 5px;
          margin-bottom: 10px;
        }
        .reset-time,
        .future-time {
          margin-bottom: 10px;
          cursor: pointer;
          &:hover {
            color: $primary;
          }
        }
        b {
          font-weight: bold;
        }

        .contact-info {
          font-family: sans-serif;
          margin: 50px auto;
          max-width: 500px;
          .contact-names {
            .text-field.first {
              font-weight: bold;
              color: #333;
            }
            .text-field {
              font-size: 32px;
              color: $primary;
            }
          }
          .contact-numbers,
          .contact-emails {
            margin-top: 32px;
            font-size: 20px;
            .number-item,
            .email-item {
              margin-bottom: 12px;
            }
          }
        }

        .bottom-buttons {
          // margin: 0 auto;
          // max-width: 500px;
        }
      }
      .contact-list {
        position: relative;
        overflow-y: scroll;
        font-size: 24px;
        flex: 1;
        background-color: lightblue;
        .list-item {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          padding: 15px 20px;
          &:hover {
            cursor: pointer;
            background-color: #81a2ad;
          }
          & .active {
            background-color: #81a2ad;
          }
        }
        .new-contact {
          position: absolute;
          left: 10px;
          bottom: 10px;
          height: 70px;
          width: 70px;
          z-index: 10;
          text-align: center;
          background-color: $primary;
          font-size: 30px;
          font-weight: bold;
          border-radius: 10000px;
          color: white;
          border: none;
          cursor: pointer;
          &:hover {
            background-color: #1c4e99;
          }
        }
      }
    }
  }
}
