html {
  height: 100%;
  body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    header {
      background-color: #276cd4;
      height: 70px;
      font-size: 45px;
      line-height: 70px;
      color: white;
      padding: 0 40px;
    }
    main {
      display: flex;
      flex-direction: row;
      overflow: hidden;
      height: calc(100vh - 70px);
      .contact-information {
        @media screen and (max-width: 991px){
          display: none;
          &.open {
            display: block;
          }
        }
        flex: 2;
        background-color: #eee;
        padding: 10px;
      }
      .contact-list {
        font-size: 24px;
        flex: 1;
        background-color: lightblue;
        .list-item {
          border-bottom: 1px solid rgba(0,0,0,0.1);
          padding: 10px;
          &:hover {
            cursor: pointer;
            background-color: #81a2ad;
          }
          & .active {
            background-color: #81a2ad;
          }
        }
      }
    }
    
  }
}
