html {
  font-family: sans-serif;
  color: #333;
  height: 100%;
}

html body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
}

html body header {
  background-color: #276cd4;
  height: 70px;
  font-size: 36px;
  line-height: 70px;
  color: white;
  padding: 0 20px;
}

html body main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  height: calc(100vh - 70px);
}

html body main .contact-information {
  overflow-y: scroll;
  flex: 2;
  background-color: #eee;
  padding: 20px;
}

@media screen and (max-width: 991px) {
  html body main .contact-information {
    transition: all 0.5s;
    position: absolute;
    left: 100%;
    top: 0;
    right: 0;
    height: 100%;
  }
  html body main .contact-information.open {
    transition: all 0.5s;
    left: 0;
  }
}

html body main .contact-information .btn {
  border: 1px solid #276cd4;
  border-radius: 4px;
  font-size: 16px;
  color: #276cd4;
  background-color: transparent;
}

html body main .contact-information .btn:hover {
  background-color: #276cd4;
  color: #fff;
  cursor: pointer;
}

html body main .contact-information .add-email,
html body main .contact-information .add-number {
  margin: 15px 0;
}

html body main .contact-information .bottom-buttons {
  margin: 32px auto;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

html body main .contact-information .bottom-buttons .btn {
  flex: 1;
  font-size: 18px;
  margin-bottom: 0;
  max-width: 40%;
}

html body main .contact-information input {
  width: 70%;
  font-size: 24px;
  padding: 5px;
}

html body main .contact-information .contact-info {
  font-family: sans-serif;
  margin: 50px auto;
  max-width: 500px;
}

html body main .contact-information .contact-info .contact-names .text-field.first {
  font-weight: bold;
  color: #333;
}

html body main .contact-information .contact-info .contact-names .text-field {
  font-size: 32px;
  color: #276cd4;
}

html body main .contact-information .contact-info .contact-numbers,
html body main .contact-information .contact-info .contact-emails {
  margin-top: 32px;
  font-size: 20px;
}

html body main .contact-information .contact-info .contact-numbers .number-item,
html body main .contact-information .contact-info .contact-numbers .email-item,
html body main .contact-information .contact-info .contact-emails .number-item,
html body main .contact-information .contact-info .contact-emails .email-item {
  margin-bottom: 12px;
}

html body main .contact-list {
  overflow-y: scroll;
  font-size: 24px;
  flex: 1;
  background-color: lightblue;
}

html body main .contact-list .list-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
}

html body main .contact-list .list-item:hover {
  cursor: pointer;
  background-color: #81a2ad;
}

html body main .contact-list .list-item .active {
  background-color: #81a2ad;
}
